In [1]:
import pandas as pd
from glob import glob

In [2]:

csv_parts = glob('part-00*.csv')
df = pd.concat(map(pd.read_csv, csv_parts))
print(df.url_host_tld.unique())
df.sort_values(by=['url_host_tld'], axis=0, inplace=True, ascending=True )
# print(df.head(5))
domains = df.url_host_registered_domain
domains.drop_duplicates(inplace=True, keep='first')
print(domains.shape)
domains_lst = domains.tolist()

print(domains_lst[:20])

['li' 'ch']
(369109,)
['imdesign.ch', 'newsbern.ch', 'newsbot.ch', 'newsbooster.ch', 'news-omct.ch', 'news-laurentferrier.ch', 'news-bonflam.ch', 'news.ch', 'newsaktuell.ch', 'news-zuerich.ch', 'news-radin.ch', 'newserv.ch', 'newscam.ch', 'newscafebar.ch', 'newsha.ch', 'newsgo.ch', 'newsfuchs.ch', 'newsfox.ch', 'newsbyte.ch', 'newslang.ch']

In [3]:
domains.to_csv('ch_li_domains_3.csv')

In [14]:
chli_parts = glob('ch_li_domains_3*.csv')
chli_df = pd.concat(map(pd.read_csv, chli_parts))

In [15]:
chli_df.columns

Index(['Unnamed: 0', 'url_host_registered_domain'], dtype='object')

In [16]:
new_df = chli_df.drop_duplicates('url_host_registered_domain').copy()
# new_df.url_host_registered_domain = 'https://www.' + new_df.url_host_registered_domain + '/'
new_df.head()

   Unnamed: 0 url_host_registered_domain
0     4975022                imdesign.ch
1     8428642                newsbern.ch
2     8428958                 newsbot.ch
3     8428822             newsbooster.ch
4     8428010               news-omct.ch

In [17]:
old_df_list = glob("ch_li_domains_2*") + ['ch_li_domains_1.csv']

In [18]:
old_df =  pd.concat(map(pd.read_csv, old_df_list))
old_df.shape
# old_df.columns = ['url_host_registered_domain']
old_df.head()

   Unnamed: 0 url_host_registered_domain    0
0     27232.0        la-pergola-winti.ch  NaN
1    492517.0               photoload.ch  NaN
2    492531.0           photolocation.ch  NaN
3    492496.0          photoisraelian.ch  NaN
4    492497.0       photojournalistes.ch  NaN

In [19]:
new_domains = new_df.merge(old_df, on=['url_host_registered_domain'], how='left', indicator=True)

In [20]:
new_domains = new_domains.loc[new_domains._merge == 'left_only']

In [21]:
new_domains.url_host_registered_domain.to_csv('ch_li_domains_3.csv', index=False)